IDI_ICON1 ICON "mugen.ico"

1 VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
FILEFLAGSMASK   0x3fL
FILEFLAGS       0x0L
FILEOS          0x40004L
FILETYPE        0x1L
FILESUBTYPE     0x0L

BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"  // US English + Unicode
        BEGIN
            VALUE "CompanyName",      "Dhani Novan"
            VALUE "FileDescription",  "Mugen Sprite Viewer"
            VALUE "FileVersion",      "1.0.0.0"
            VALUE "InternalName",     "MugenSpriteViewer"
            VALUE "OriginalFilename", "MugenSpriteViewer.exe"
            VALUE "ProductName",      "Mugen Sprite Viewer"
            VALUE "ProductVersion",   "1.0.0.0"
        END
    END

    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1200
    END
END
